[Desktop Entry]
Type=Application
Exec=/usr/bin/ulauncher
Hidden=false
X-MATE-Autostart-enabled=true
Name[en_US]=ulauncher
Name=ulauncher
Comment[en_US]=
Comment=
X-MATE-Autostart-Delay=0
